# Preparation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
flights_sample = pd.read_csv("../../data/processed/flights_sample.csv", index_col=None)

### Some Feature Engineering:

# Change the column dtypes to the correct type for the date columns
flights_sample['Scheduled Departure Time (local time)'] = pd.to_datetime(flights_sample['Scheduled Departure Time (local time)'])
flights_sample['Actual Departure Time (local time)'] = pd.to_datetime(flights_sample['Actual Departure Time (local time)'])
flights_sample['Wheels Off (local time)'] = pd.to_datetime(flights_sample['Wheels Off (local time)'])
flights_sample['Wheels On (local time)'] = pd.to_datetime(flights_sample['Wheels On (local time)'])
flights_sample['Scheduled Arrival Time (local time)'] = pd.to_datetime(flights_sample['Scheduled Arrival Time (local time)'])
flights_sample['Actual Arrival Time (local time)'] = pd.to_datetime(flights_sample['Actual Arrival Time (local time)'])

#Create a new column for the hour of the day for actual departure time and for wheels on time
flights_sample['Actual Departure Hour'] = flights_sample['Actual Departure Time (local time)'].dt.hour  #I don't like that they are FLOATS.. would prefer int but having an error code because of NANs
flights_sample['Wheels On Hour'] = flights_sample['Wheels On (local time)'].dt.hour #I don't like that they are FLOATS.. would prefer int but having an error code because of NANs

# Create a new columns that calculates the difference between the departure delay and arrival delay
flights_sample['Difference in Delay (Dep - Arr [minutes])'] = flights_sample['Departure Delay (minutes)'] - flights_sample['Arrival Delay (minutes)']

#Create departure and arrival state column
flights_sample['Departure State'] = flights_sample['Origin Airport (City, State)'].str[-2:]
flights_sample['Arrival State'] = flights_sample['Destination Airport (City, State)'].str[-2:]

In [3]:
flights_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199350 entries, 0 to 199349
Data columns (total 42 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Flight Year                                 199350 non-null  int64
 1   Flight Month                                199350 non-null  int64
 2   Flight Day                                  199350 non-null  int64
 3   Flight Weekday                              199350 non-null  int64
 4   Marketer - Unique Carrier Code              199350 non-null  object
 5   Operator - Unique Carrier Code              199350 non-null  object
 6   Different Marketer & Operator Carrier Code  199350 non-null  int64
 7   Tail Number                                 199350 non-null  object
 8   Flight Number                               199350 non-null  int64
 9   Origin Airport (ID)                         199350 non-null  int64
 10  Origin Airport (IATA Code)                  199350 non-null  object
 11  Origin Airport (City, State)                199350 non-null  object
 12  Destination Airport (ID)                    199350 non-null  int64
 13  Destination Airport (IATA Code)             199350 non-null  object
 14  Destination Airport (City, State)           199350 non-null  object
 15  Departure Delay (minutes)                   199350 non-null  int64
 16  Arrival Delay (minutes)                     199350 non-null  int64
 17  Cancelled                                   199350 non-null  int64
 18  Cancellation Code                           2753 non-null    object
 19  Diverted                                    199350 non-null  int64
 20  Scheduled Departure Time (local time)       199350 non-null  datetime64[ns]
 21  Actual Departure Time (local time)          196744 non-null  datetime64[ns]
 22  Taxi Out (minutes)                          196542 non-null  object
 23  Wheels Off (local time)                     196542 non-null  datetime64[ns]
 24  Wheels On (local time)                      196434 non-null  datetime64[ns]
 25  Taxi In (minutes)                           196434 non-null  object
 26  Scheduled Arrival Time (local time)         199350 non-null  datetime64[ns]
 27  Actual Arrival Time (local time)            196516 non-null  datetime64[ns]
 28  Scheduled Elapsed Time                      199350 non-null  int64
 29  Actual Elapsed Time                         199350 non-null  int64
 30  Air Time                                    199350 non-null  int64
 31  Distance (miles)                            199350 non-null  int64
 32  Carrier Delay (minutes)                     199350 non-null  int64
 33  Weather Delay (minutes)                     199350 non-null  int64
 34  National Air System Delay (minutes)         199350 non-null  int64
 35  Security Delay (minutes)                    199350 non-null  int64
 36  Late Aircraft Delay (minutes)               199350 non-null  int64
 37  Actual Departure Hour                       196744 non-null  float64
 38  Wheels On Hour                              196434 non-null  float64
 39  Difference in Delay (Dep - Arr [minutes])   199350 non-null  int64
 40  Departure State                             199350 non-null  object
 41  Arrival State                               199350 non-null  object
dtypes: datetime64[ns](6), float64(2), int64(22), object(12)
memory usage: 63.9+ MB

# Orientation

In [68]:
origin_airport = pd.read_csv("../../data/raw/unique_origin_airports.csv", index_col=None)
dest_airport = pd.read_csv("../../data/raw/unique_dest_airports.csv", index_col=None)
all_airports = np.concatenate((origin_airport, dest_airport))

# Remove the duplicates
all_airports = np.unique(all_airports)

In [67]:
airport_location = pd.read_csv("GlobalAirportDatabase.txt", sep=":")

# Add column headers to the airport_location df
airport_location.columns = ['Airport ID', 'Airport Code', 'Airport Name', 'City', 'Country', 'Latitude Degrees', 'Latitude Minutes', 'Latitude Seconds', 'Latitude Direction', 'Longitude Degrees', 'Longitude Minutes', 'Longitude Seconds', 'Longitude Direction', 'Altitude', 'Latitude', 'Longitude']

# Drop all the columns except the Airport Code, Name, City, Country, Latitude and Longitude
airport_location = airport_location.drop(['Airport ID', 'Latitude Degrees', 'Latitude Minutes', 'Latitude Seconds', 'Latitude Direction', 'Longitude Degrees', 'Longitude Minutes', 'Longitude Seconds', 'Longitude Direction', 'Altitude'], axis=1)

In [69]:
filter = airport_location['Airport Code'].isin(all_airports)

In [71]:
#Copy all records from airport_location that are in all_airports to a new df
airport_latlong = airport_location[airport_location['Airport Code'].isin(all_airports)]

In [73]:
airport_latlong.shape

(217, 6)

In [79]:
missing_airports = np.setdiff1d(all_airports, airport_latlong['Airport Code'].values)
missing_airports

array(['ABE', 'ABR', 'ACV', 'ALO', 'ALW', 'APN', 'ASE', 'ATW', 'ATY',
       'AVL', 'AVP', 'AZA', 'AZO', 'BFF', 'BGM', 'BIL', 'BIS', 'BJI',
       'BKG', 'BMI', 'BRD', 'BTM', 'BZN', 'CAK', 'CGI', 'CHO', 'CID',
       'CIU', 'CKB', 'CMI', 'CMX', 'CNY', 'COD', 'CRW', 'CSG', 'CWA',
       'DAB', 'DBQ', 'DIK', 'DVL', 'EAR', 'EAT', 'EAU', 'ECP', 'EGE',
       'EKO', 'ELM', 'ERI', 'ESC', 'EUG', 'EVV', 'FAR', 'FAY', 'FCA',
       'FLG', 'FNT', 'FSD', 'FWA', 'GCC', 'GJT', 'GPT', 'GRI', 'GSO',
       'GSP', 'GST', 'GTR', 'GUC', 'HDN', 'HGR', 'HHH', 'HSV', 'HTS',
       'HVN', 'HYA', 'HYS', 'IDA', 'IFP', 'IMT', 'ITH', 'JAC', 'JLN',
       'JMS', 'LAR', 'LAW', 'LBE', 'LBF', 'LBL', 'LEX', 'LSE', 'LWB',
       'LWS', 'LYH', 'MBS', 'MEI', 'MFR', 'MGM', 'MHK', 'MHT', 'MKG',
       'MLI', 'MMH', 'MRY', 'MSO', 'MTJ', 'MVY', 'OAJ', 'OGD', 'ORH',
       'OTH', 'OWB', 'PAH', 'PGD', 'PGV', 'PIA', 'PIB', 'PIH', 'PIR',
       'PLN', 'PSC', 'PSG', 'PSM', 'PUW', 'PVU', 'RAP', 'RDD', 'RDM',
       'RFD', 'RHI', 'RKS', 'ROA', 'RST', 'SBA', 'SBN', 'SBP', 'SCE',
       'SDF', 'SGF', 'SGU', 'SHD', 'SLN', 'SMX', 'SPI', 'SRQ', 'STC',
       'STS', 'SUN', 'SWO', 'TOL', 'TRI', 'TVC', 'TWF', 'UIN', 'USA',
       'VEL', 'VLD', 'WRG', 'WYS', 'XNA', 'XWA', 'YKM'], dtype=object)

In [76]:
missing

,Airport Code,Airport Name,City,Country,Latitude,Longitude
0,LAE,NaN,LAE,PAPUA NEW GUINEA,0.000,0.000
1,MAG,MADANG,MADANG,PAPUA NEW GUINEA,-5.207,145.789
2,HGU,MOUNT HAGEN,MOUNT HAGEN,PAPUA NEW GUINEA,-5.826,144.296
3,LAE,NADZAB,NADZAB,PAPUA NEW GUINEA,-6.570,146.726
4,POM,PORT MORESBY JACKSONS INTERNATIONAL,PORT MORESBY,PAPUA NEW GUINEA,-9.443,147.220
...,...,...,...,...,...,...
9294,NaN,NaN,SHENYANG,CHINA,0.000,0.000
9295,DLC,ZHOUSHUIZI,DALIAN,CHINA,38.966,121.538
9296,NaN,NaN,XIANCHENG,CHINA,0.000,0.000
9297,NaN,NaN,YICHUN,CHINA,0.000,0.000
9298,NaN,YANJI,YANJI,CHINA,42.882,129.448

In [52]:
raw2018 = pd.read_csv('2018.csv')

In [54]:
raw2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36333281 entries, 0 to 36333280
Data columns (total 8 columns):
 #   Column       Dtype
---  ------       -----
 0   AE000041196  object
 1   20180101     int64
 2   TMAX         object
 3   259          int64
 4   Unnamed: 4   object
 5   Unnamed: 5   object
 6   S            object
 7   Unnamed: 7   float64
dtypes: float64(1), int64(2), object(5)
memory usage: 2.2+ GB

In [47]:
# Create a df that contain the cities of the airports
departure_airport_cities = flights_sample['Origin Airport (City, State)'].unique()
arrival_airport_cities = flights_sample['Destination Airport (City, State)'].unique()
airport_cities = np.concatenate((departure_airport_cities, arrival_airport_cities))
# remove the duplicates
airport_cities = np.unique(airport_cities)

airport_cities

array(['Aberdeen, SD', 'Abilene, TX', 'Adak Island, AK', 'Aguadilla, PR',
       'Akron, OH', 'Albany, GA', 'Albany, NY', 'Albuquerque, NM',
       'Alexandria, LA', 'Allentown/Bethlehem/Easton, PA', 'Alpena, MI',
       'Amarillo, TX', 'Anchorage, AK', 'Appleton, WI',
       'Arcata/Eureka, CA', 'Asheville, NC', 'Ashland, WV', 'Aspen, CO',
       'Atlanta, GA', 'Atlantic City, NJ', 'Augusta, GA', 'Austin, TX',
       'Bakersfield, CA', 'Baltimore, MD', 'Bangor, ME', 'Barrow, AK',
       'Baton Rouge, LA', 'Beaumont/Port Arthur, TX', 'Belleville, IL',
       'Bellingham, WA', 'Bemidji, MN', 'Bend/Redmond, OR', 'Bethel, AK',
       'Billings, MT', 'Binghamton, NY', 'Birmingham, AL',
       'Bismarck/Mandan, ND', 'Bloomington/Normal, IL', 'Boise, ID',
       'Boston, MA', 'Bozeman, MT', 'Brainerd, MN', 'Branson, MO',
       'Bristol/Johnson City/Kingsport, TN', 'Brownsville, TX',
       'Brunswick, GA', 'Buffalo, NY', 'Burbank, CA', 'Burlington, VT',
       'Butte, MT', 'Cape Girardeau, MO', 'Casper, WY', 'Cedar City, UT',
       'Cedar Rapids/Iowa City, IA', 'Champaign/Urbana, IL',
       'Charleston, SC', 'Charleston/Dunbar, WV', 'Charlotte Amalie, VI',
       'Charlotte, NC', 'Charlottesville, VA', 'Chattanooga, TN',
       'Cheyenne, WY', 'Chicago, IL', 'Christiansted, VI',
       'Cincinnati, OH', 'Clarksburg/Fairmont, WV', 'Cleveland, OH',
       'Cody, WY', 'College Station/Bryan, TX', 'Colorado Springs, CO',
       'Columbia, MO', 'Columbia, SC', 'Columbus, GA', 'Columbus, MS',
       'Columbus, OH', 'Concord, NC', 'Cordova, AK', 'Corpus Christi, TX',
       'Dallas, TX', 'Dallas/Fort Worth, TX', 'Dayton, OH',
       'Daytona Beach, FL', 'Deadhorse, AK', 'Del Rio, TX', 'Denver, CO',
       'Des Moines, IA', 'Detroit, MI', 'Devils Lake, ND',
       'Dickinson, ND', 'Dillingham, AK', 'Dothan, AL', 'Dubuque, IA',
       'Duluth, MN', 'Durango, CO', 'Eagle, CO', 'Eau Claire, WI',
       'El Paso, TX', 'Elko, NV', 'Elmira/Corning, NY', 'Erie, PA',
       'Escanaba, MI', 'Eugene, OR', 'Evansville, IN', 'Everett, WA',
       'Fairbanks, AK', 'Fargo, ND', 'Fayetteville, AR',
       'Fayetteville, NC', 'Flagstaff, AZ', 'Flint, MI', 'Florence, SC',
       'Fort Lauderdale, FL', 'Fort Myers, FL', 'Fort Smith, AR',
       'Fort Wayne, IN', 'Fresno, CA', 'Gainesville, FL',
       'Garden City, KS', 'Gillette, WY', 'Grand Forks, ND',
       'Grand Island, NE', 'Grand Junction, CO', 'Grand Rapids, MI',
       'Great Falls, MT', 'Green Bay, WI', 'Greensboro/High Point, NC',
       'Greenville, NC', 'Greer, SC', 'Guam, TT', 'Gulfport/Biloxi, MS',
       'Gunnison, CO', 'Gustavus, AK', 'Hagerstown, MD',
       'Hancock/Houghton, MI', 'Harlingen/San Benito, TX',
       'Harrisburg, PA', 'Hartford, CT', 'Hattiesburg/Laurel, MS',
       'Hayden, CO', 'Hays, KS', 'Helena, MT', 'Hibbing, MN', 'Hilo, HI',
       'Hilton Head, SC', 'Hobbs, NM', 'Honolulu, HI', 'Hoolehua, HI',
       'Houston, TX', 'Huntsville, AL', 'Hyannis, MA', 'Idaho Falls, ID',
       'Indianapolis, IN', 'International Falls, MN',
       'Iron Mountain/Kingsfd, MI', 'Islip, NY', 'Ithaca/Cortland, NY',
       'Jackson, WY', 'Jackson/Vicksburg, MS', 'Jacksonville, FL',
       'Jacksonville/Camp Lejeune, NC', 'Jamestown, ND', 'Joplin, MO',
       'Juneau, AK', 'Kahului, HI', 'Kalamazoo, MI', 'Kalispell, MT',
       'Kansas City, MO', 'Kapalua, HI', 'Kearney, NE', 'Ketchikan, AK',
       'Key West, FL', 'Killeen, TX', 'Knoxville, TN', 'Kodiak, AK',
       'Kona, HI', 'Kotzebue, AK', 'La Crosse, WI', 'Lafayette, LA',
       'Lake Charles, LA', 'Lanai, HI', 'Lansing, MI', 'Laramie, WY',
       'Laredo, TX', 'Las Vegas, NV', 'Latrobe, PA',
       'Lawton/Fort Sill, OK', 'Lewisburg, WV', 'Lewiston, ID',
       'Lexington, KY', 'Liberal, KS', 'Lihue, HI', 'Lincoln, NE',
       'Little Rock, AR', 'Long Beach, CA', 'Longview, TX',
       'Los Angeles, CA', 'Louisville, KY', 'Lubbock, TX',
       'Lynchburg, VA', 'Madison, WI', 'Mammoth Lakes, CA',
       'Manchester, NH', 'Manhattan/Ft. Riley, KS', 'Marquette, MI',
       "Martha's Vineyard, MA", 'Medford, OR', 'Melbourne, FL',
       'Memphis, TN', 'Meridian, MS', 'Miami, FL', 'Midland/Odessa, TX',
       'Milwaukee, WI', 'Minneapolis, MN', 'Minot, ND',
       'Mission/McAllen/Edinburg, TX', 'Missoula, MT', 'Moab, UT',
       'Mobile, AL', 'Moline, IL', 'Monroe, LA', 'Monterey, CA',
       'Montgomery, AL', 'Montrose/Delta, CO', 'Mosinee, WI',
       'Muskegon, MI', 'Myrtle Beach, SC', 'Nantucket, MA',
       'Nashville, TN', 'New Bern/Morehead/Beaufort, NC', 'New Haven, CT',
       'New Orleans, LA', 'New York, NY', 'Newark, NJ',
       'Newburgh/Poughkeepsie, NY', 'Newport News/Williamsburg, VA',
       'Niagara Falls, NY', 'Nome, AK', 'Norfolk, VA',
       'North Bend/Coos Bay, OR', 'North Platte, NE', 'Oakland, CA',
       'Ogden, UT', 'Ogdensburg, NY', 'Oklahoma City, OK', 'Omaha, NE',
       'Ontario, CA', 'Orlando, FL', 'Owensboro, KY', 'Paducah, KY',
       'Pago Pago, TT', 'Palm Springs, CA', 'Panama City, FL',
       'Pasco/Kennewick/Richland, WA', 'Pellston, MI', 'Pensacola, FL',
       'Peoria, IL', 'Petersburg, AK', 'Philadelphia, PA', 'Phoenix, AZ',
       'Pierre, SD', 'Pittsburgh, PA', 'Plattsburgh, NY', 'Pocatello, ID',
       'Ponce, PR', 'Portland, ME', 'Portland, OR', 'Portsmouth, NH',
       'Prescott, AZ', 'Presque Isle/Houlton, ME', 'Providence, RI',
       'Provo, UT', 'Pueblo, CO', 'Pullman, WA', 'Punta Gorda, FL',
       'Quincy, IL', 'Raleigh/Durham, NC', 'Rapid City, SD',
       'Redding, CA', 'Reno, NV', 'Rhinelander, WI', 'Richmond, VA',
       'Roanoke, VA', 'Rochester, MN', 'Rochester, NY',
       'Rock Springs, WY', 'Rockford, IL', 'Roswell, NM', 'Rota, TT',
       'Sacramento, CA', 'Saginaw/Bay City/Midland, MI', 'Saipan, TT',
       'Salina, KS', 'Salisbury, MD', 'Salt Lake City, UT',
       'San Angelo, TX', 'San Antonio, TX', 'San Diego, CA',
       'San Francisco, CA', 'San Jose, CA', 'San Juan, PR',
       'San Luis Obispo, CA', 'Sanford, FL', 'Santa Ana, CA',
       'Santa Barbara, CA', 'Santa Fe, NM', 'Santa Maria, CA',
       'Santa Rosa, CA', 'Sarasota/Bradenton, FL', 'Sault Ste. Marie, MI',
       'Savannah, GA', 'Scottsbluff, NE', 'Scranton/Wilkes-Barre, PA',
       'Seattle, WA', 'Shreveport, LA', 'Sioux City, IA',
       'Sioux Falls, SD', 'Sitka, AK', 'South Bend, IN', 'Spokane, WA',
       'Springfield, IL', 'Springfield, MO', 'St. Cloud, MN',
       'St. George, UT', 'St. Louis, MO', 'St. Petersburg, FL',
       'State College, PA', 'Staunton, VA', 'Stillwater, OK',
       'Stockton, CA', 'Sun Valley/Hailey/Ketchum, ID', 'Syracuse, NY',
       'Tallahassee, FL', 'Tampa, FL', 'Texarkana, AR', 'Toledo, OH',
       'Traverse City, MI', 'Trenton, NJ', 'Tucson, AZ', 'Tulsa, OK',
       'Twin Falls, ID', 'Tyler, TX', 'Unalaska, AK', 'Valdosta, GA',
       'Valparaiso, FL', 'Vernal, UT', 'Waco, TX', 'Walla Walla, WA',
       'Washington, DC', 'Waterloo, IA', 'Watertown, NY', 'Watertown, SD',
       'Wenatchee, WA', 'West Palm Beach/Palm Beach, FL',
       'West Yellowstone, MT', 'White Plains, NY', 'Wichita Falls, TX',
       'Wichita, KS', 'Williamsport, PA', 'Williston, ND',
       'Wilmington, NC', 'Worcester, MA', 'Wrangell, AK', 'Yakima, WA',
       'Yakutat, AK', 'Youngstown/Warren, OH', 'Yuma, AZ'], dtype=object)

In [17]:
# Get a list of all Airport codes
departure_airports = flights_sample['Origin Airport (IATA Code)'].unique()
arrival_airports = flights_sample['Destination Airport (IATA Code)'].unique()
airport_codes = np.concatenate((departure_airports, arrival_airports))
#airport_codes.size
airport_codes

array(['LAS', 'SYR', 'ELP', 'DEN', 'ATL', 'TRI', 'SMF', 'EWR', 'CLT',
       'EUG', 'AUS', 'DCA', 'GRR', 'STL', 'FAI', 'SEA', 'SJC', 'ORD',
       'BWI', 'LFT', 'HOU', 'BOS', 'LAX', 'SFB', 'DTW', 'JLN', 'JFK',
       'PHL', 'MEM', 'DFW', 'PHX', 'IAD', 'SDF', 'KOA', 'MCO', 'BTV',
       'ORF', 'ABQ', 'MKE', 'LGA', 'FLL', 'MDT', 'MIA', 'CLE', 'PWM',
       'SNA', 'HNL', 'HSV', 'IND', 'IAH', 'RNO', 'SLC', 'ROC', 'RSW',
       'SAT', 'CMI', 'MSP', 'LRD', 'PDX', 'SFO', 'RIC', 'MSY', 'MDW',
       'OMA', 'RDU', 'EWN', 'ECP', 'ACY', 'CAK', 'CMH', 'OAK', 'DRO',
       'CVG', 'GEG', 'LIT', 'BNA', 'CHA', 'BUF', 'ANC', 'JAX', 'COS',
       'SAN', 'HPN', 'XNA', 'ONT', 'SRQ', 'AGS', 'ROA', 'SAV', 'RDD',
       'BTR', 'TPA', 'PVD', 'PSP', 'MYR', 'BDL', 'MSN', 'BZN', 'JAN',
       'SAF', 'LWS', 'GRB', 'CAE', 'DAL', 'PBG', 'BUR', 'VPS', 'CHS',
       'PAH', 'FSD', 'LIH', 'ALW', 'OKC', 'OGG', 'GSP', 'COU', 'BOI',
       'SPS', 'BHM', 'GSO', 'MFE', 'ALB', 'ERI', 'IPT', 'LGB', 'GFK',
       'MSO', 'MGM', 'BET', 'ITO', 'GTF', 'MCI', 'VLD', 'ICT', 'TYS',
       'ASE', 'BLI', 'SCC', 'BGR', 'SGF', 'SJU', 'BFL', 'BRO', 'LBE',
       'EVV', 'AZO', 'MFR', 'GPT', 'AVL', 'JAC', 'MTJ', 'ROW', 'PIT',
       'BPT', 'TVC', 'ATW', 'PNS', 'DSM', 'DAY', 'AVP', 'PIB', 'ABE',
       'FCA', 'ELM', 'PHF', 'FWA', 'CRP', 'BIL', 'PBI', 'CSG', 'LNK',
       'MHT', 'AEX', 'HRL', 'MLI', 'MRY', 'PAE', 'GJT', 'JNU', 'TUL',
       'RAP', 'FAR', 'MLB', 'STT', 'SJT', 'TLH', 'GCC', 'ABR', 'SUX',
       'ILM', 'MOB', 'MBS', 'CID', 'MLU', 'BQN', 'LBB', 'FLO', 'TUS',
       'LEX', 'CRW', 'IDA', 'PSG', 'ALO', 'SBA', 'HLN', 'TTN', 'ACK',
       'CHO', 'MAF', 'TWF', 'ACV', 'TOL', 'SHD', 'ACT', 'SGU', 'PSC',
       'PIE', 'COD', 'SHV', 'PLN', 'MHK', 'YUM', 'ITH', 'MEI', 'IAG',
       'EKO', 'SBN', 'PGD', 'FAY', 'FAT', 'HIB', 'LAN', 'ISN', 'CMX',
       'DIK', 'ABI', 'FNT', 'TYR', 'RDM', 'DVL', 'AMA', 'PQI', 'STS',
       'JHM', 'SWF', 'KTN', 'AZA', 'ABY', 'SUN', 'RKS', 'SIT', 'LYH',
       'GGG', 'PUB', 'EAU', 'LSE', 'MKK', 'CIU', 'GNV', 'GUM', 'SBY',
       'EYW', 'BIS', 'RST', 'USA', 'YKM', 'DAB', 'BMI', 'OTH', 'PSM',
       'SCK', 'CNY', 'YAK', 'EAT', 'GRK', 'ISP', 'RHI', 'DLH', 'GRI',
       'SPN', 'HDN', 'CLL', 'BLV', 'SLN', 'CPR', 'CWA', 'SBP', 'HHH',
       'HYS', 'SCE', 'PIA', 'BRD', 'HTS', 'FLG', 'MOT', 'BGM', 'INL',
       'GTR', 'UIN', 'LAW', 'EGE', 'LNY', 'STX', 'DBQ', 'BQK', 'EAR',
       'SPI', 'XWA', 'OTZ', 'ADQ', 'RFD', 'GUC', 'OME', 'BRW', 'IMT',
       'SWO', 'OGS', 'LBF', 'OAJ', 'BFF', 'CKB', 'ORH', 'JMS', 'TXK',
       'PUW', 'MMH', 'MVY', 'LCK', 'VEL', 'LWB', 'DRT', 'PRC', 'CGI',
       'ROP', 'MQT', 'DHN', 'GCK', 'WRG', 'HOB', 'FSM', 'HVN', 'PIH',
       'PVU', 'LCH', 'LAR', 'PGV', 'PSE', 'ESC', 'CDC', 'ART', 'BKG',
       'MKG', 'CDV', 'LBL', 'HGR', 'DUT', 'OWB', 'OGD', 'CYS', 'BJI',
       'APN', 'ATY', 'WYS', 'GST', 'SMX', 'BTM', 'PPG', 'PIR', 'DLG',
       'HYA', 'STC', 'ADK', 'YNG', 'BFM', 'ORD', 'CLT', 'DAL', 'CHS',
       'TPA', 'LAS', 'JAX', 'BOS', 'DEN', 'IAD', 'MCI', 'ATL', 'STL',
       'SEA', 'PHL', 'HNL', 'DCA', 'BDL', 'DFW', 'PHX', 'LAX', 'MFE',
       'MCO', 'PSC', 'ANC', 'RDU', 'ORF', 'TUS', 'FLL', 'MSP', 'CHA',
       'SLC', 'TXK', 'CLE', 'CAE', 'BWI', 'PRC', 'MHT', 'EWR', 'MDT',
       'ATW', 'SBY', 'TYS', 'MIA', 'DTW', 'ICT', 'LGA', 'OAK', 'MFR',
       'IND', 'PDX', 'SDF', 'SGU', 'JFK', 'BUF', 'SFO', 'SAT', 'BUR',
       'GRB', 'BNA', 'ONT', 'RSW', 'CVG', 'MDW', 'AUS', 'GSP', 'SNA',
       'CMH', 'GEG', 'PBI', 'SCC', 'MLI', 'ABQ', 'SJC', 'CLL', 'SCE',
       'IAH', 'STS', 'PHF', 'HDN', 'EYW', 'DSM', 'PIT', 'SMF', 'HSV',
       'SPS', 'RDM', 'AVL', 'LGB', 'IPT', 'BOI', 'DAY', 'SAN', 'ELP',
       'LAN', 'ILM', 'SAV', 'BLV', 'MSO', 'OKC', 'RNO', 'LIH', 'GRK',
       'RST', 'GSO', 'FAT', 'MSY', 'BTV', 'TUL', 'BHM', 'SYR', 'LEX',
       'CRP', 'PSP', 'MKE', 'AZA', 'FAR', 'GPT', 'CAK', 'HOU', 'SBP',
       'GTF', 'COD', 'RIC', 'LYH', 'XNA', 'PVD', 'LRD', 'OMA', 'ROC',
       'TRI', 'LBB', 'LFT', 'ACY', 'MSN', 'LNY', 'ITH', 'MYR', 'SGF',
       'MEM', 'ROA', 'SBN', 'GNV', 'MLB', 'ERI', 'SRQ', 'PUB', 'LNK',
       'CWA', 'ACK', 'AMA', 'SJU', 'OTZ', 'FWA', 'SAF', 'ELM', 'OGG',
       'PWM', 'FCA', 'CDV', 'FSD', 'APN', 'TOL', 'TLH', 'BTR', 'ABE',
       'PAE', 'EVV', 'FAI', 'GRR', 'FLO', 'BIL', 'DRO', 'JHM', 'DAB',
       'DIK', 'CRW', 'BGR', 'CHO', 'LIT', 'MAF', 'VPS', 'GJT', 'HPN',
       'BZN', 'SBA', 'ALB', 'BLI', 'EUG', 'PIA', 'KOA', 'AGS', 'DBQ',
       'HLN', 'GCC', 'JNU', 'FLG', 'WRG', 'ECP', 'SHV', 'COS', 'JAC',
       'MLU', 'OAJ', 'CMI', 'PIE', 'MOB', 'ADQ', 'BRO', 'BQN', 'USA',
       'ASE', 'IDA', 'IAG', 'AVP', 'GCK', 'LAR', 'MTJ', 'ISP', 'PIB',
       'ITO', 'LSE', 'ABY', 'LCH', 'PNS', 'ABR', 'PGV', 'SFB', 'CID',
       'TYR', 'JAN', 'HRL', 'STT', 'LCK', 'STX', 'MBS', 'SUN', 'AZO',
       'HIB', 'TVC', 'PBG', 'TTN', 'BGM', 'MHK', 'MMH', 'HTS', 'BFL',
       'RFD', 'BPT', 'FNT', 'MOT', 'BMI', 'BET', 'JLN', 'BTM', 'UIN',
       'SPN', 'AEX', 'COU', 'FAY', 'SIT', 'EKO', 'PIH', 'ACV', 'LBF',
       'DLH', 'ABI', 'PGD', 'ALO', 'GUM', 'SJT', 'CGI', 'ORH', 'INL',
       'RAP', 'BIS', 'MEI', 'EAT', 'HYS', 'ALW', 'OGS', 'SLN', 'LBE',
       'SWF', 'SUX', 'ART', 'YKM', 'LWB', 'MGM', 'MRY', 'GFK', 'PAH',
       'CPR', 'FSM', 'CNY', 'YUM', 'CMX', 'OTH', 'EAR', 'JMS', 'LBL',
       'OME', 'DHN', 'WYS', 'SPI', 'KTN', 'HHH', 'ESC', 'HGR', 'ACT',
       'PUW', 'BQK', 'LAW', 'GGG', 'XWA', 'GUC', 'CKB', 'PLN', 'EWN',
       'CDC', 'LWS', 'DVL', 'VEL', 'RDD', 'BKG', 'PSE', 'EGE', 'GTR',
       'MKK', 'GRI', 'ISN', 'PSG', 'SWO', 'CIU', 'DUT', 'ROW', 'PIR',
       'BRW', 'TWF', 'BRD', 'MVY', 'PQI', 'VLD', 'SCK', 'IMT', 'OGD',
       'RKS', 'MQT', 'PVU', 'SMX', 'EAU', 'BFF', 'PSM', 'RHI', 'HVN',
       'HOB', 'CSG', 'OWB', 'SHD', 'DRT', 'CYS', 'MKG', 'YAK', 'ATY',
       'BJI', 'HYA', 'BFM', 'PPG', 'ROP', 'STC', 'DLG'], dtype=object)

Okay, so we need to look at 745x different airports we would need to get the weather from, on a daily basis for 2 years and 7x days

In [16]:
(745 * ((2 * 12) + 1)) / 500

37.25

If we're going by day. that's a total of ~550,000 API calls.. and this is just for the sample.. we could have more than 745 airports to look at.. 

World Weather API is only allowing 500 request a day, so if we can pull 2x yars per API call, we should be able to pull all airports in 2x days
- The local History API can only pull a month at a time.. that's a bummer

https://home.openweathermap.org/history_bulks/new

Allows to do complete history pulls for 10USD a pull.. wow..

https://rapidapi.com/iddogino/api/global-weather-history/pricing

This guy allows 10,000 pull a month

In [29]:
#World Weather API can pull a month at a time.. 500x calls a day.. 
500 / 25

20.0

If we can break down in roughly 20 values we could be good.. what about per states?

In [36]:
# Consolidate the States into a single list
departure_states = flights_sample['Departure State'].unique()
arrival_states = flights_sample['Arrival State'].unique()
states = np.concatenate((departure_states, arrival_states))
# remove the duplicates
states = np.unique(states)
states.shape

(53,)

Found this article that is scrapping Weather Underground Data using BeautifulSoup.
https://flowingdata.com/2007/07/09/grabbing-weather-underground-data-with-beautifulsoup/

Will use it as a foundation for ours

In [25]:
!pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in c:\users\987\anaconda3\envs\main_ide\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\987\anaconda3\envs\main_ide\lib\site-packages (from BeautifulSoup4) (2.3.2.post1)

In [26]:
# Let's use BeautifulSoup to parse Weather Underground's HTML

def getWeather(airport):
    from urllib.request import urlopen
    from bs4 import BeautifulSoup

    # set a the value that will store the daily weather
    daily_weather = pd.DataFrame()

    #Iterate through each days between 1 Jan 2018 and 31 Jan 2020
    for year in range(2018,2020):
        for m in range(1,13):
            for d in range(1,32):

                #Check if leap year
                if year%4 == 0:
                    leap = True
                elif year%100 == 0:
                    leap = False
                elif year%400 == 0:
                    leap = True
                else:
                    leap = False

                #Check if already already gone through the month
                if (m == 2 and leap and d>29):
                    continue
                elif (m == 2 and not leap and d>28):
                    continue
                elif (m in [4,6,9,11] and d>30): #original had 10 instead of 11, but 11 is correct (november has 30 days, not october)
                    continue

                # Open the URL and read the HTML
                url = "https://www.wunderground.com/history/daily/us/ny/new-york-city/K{}/date/{}-{}-{}".format(airport,year,m,d)
                page = urlopen(url).read()

                # Get temperature
                soup = BeautifulSoup(page)
                dayTemp = soup.body.nobr.b.string

                # Add to dataframe
                daily_weather = daily_weather.append({'Date': "{}-{}-{}".format(year,m,d), 'Temp': dayTemp, 'Airport': airport}, ignore_index=True)

In [27]:
getWeather('RDU')

AttributeError: 'NoneType' object has no attribute 'b'