# Preparation

In [426]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_columns", 120)

In [159]:
flights_sample = pd.read_csv("../../data/processed/flights_sample.csv", index_col=None)

### Some Feature Engineering:

# Change the column dtypes to the correct type for the date columns
flights_sample['Scheduled Departure Time (local time)'] = pd.to_datetime(flights_sample['Scheduled Departure Time (local time)'])
flights_sample['Actual Departure Time (local time)'] = pd.to_datetime(flights_sample['Actual Departure Time (local time)'])
flights_sample['Wheels Off (local time)'] = pd.to_datetime(flights_sample['Wheels Off (local time)'])
flights_sample['Wheels On (local time)'] = pd.to_datetime(flights_sample['Wheels On (local time)'])
flights_sample['Scheduled Arrival Time (local time)'] = pd.to_datetime(flights_sample['Scheduled Arrival Time (local time)'])
flights_sample['Actual Arrival Time (local time)'] = pd.to_datetime(flights_sample['Actual Arrival Time (local time)'])

#Create a new column for the hour of the day for actual departure time and for wheels on time
flights_sample['Actual Departure Hour'] = flights_sample['Actual Departure Time (local time)'].dt.hour  #I don't like that they are FLOATS.. would prefer int but having an error code because of NANs
flights_sample['Wheels On Hour'] = flights_sample['Wheels On (local time)'].dt.hour #I don't like that they are FLOATS.. would prefer int but having an error code because of NANs

# Create a new columns that calculates the difference between the departure delay and arrival delay
flights_sample['Difference in Delay (Dep - Arr [minutes])'] = flights_sample['Departure Delay (minutes)'] - flights_sample['Arrival Delay (minutes)']

#Create departure and arrival state column
flights_sample['Departure State'] = flights_sample['Origin Airport (City, State)'].str[-2:]
flights_sample['Arrival State'] = flights_sample['Destination Airport (City, State)'].str[-2:]

# Remove the rows that have missing_airports
#missing_airports = pd.read_csv("../../data/raw/missing_airports.csv", index_col=None)
#flights_sample = flights_sample[~flights_sample['Origin Airport (IATA Code)'].isin(missing_airports)]
#flights_sample = flights_sample[~flights_sample['Destination Airport (IATA Code)'].isin(missing_airports)]

# Orientation

In [160]:
origin_airport = pd.read_csv("../../data/raw/unique_origin_airports.csv", index_col=None)
origin_airport.rename(columns={'origin': 'IATA code'}, inplace=True)

dest_airport = pd.read_csv("../../data/raw/unique_dest_airports.csv", index_col=None)
dest_airport.rename(columns={'dest': 'IATA code'}, inplace=True)

all_airports = pd.concat([origin_airport, dest_airport])
all_airports = all_airports.drop_duplicates()

In [176]:
all_airports.shape

(376, 1)

Okay, so we need to pull the weather for 376x different airports we would need to get the weather from, on a daily basis for 2 years and 7x days

In [180]:
(376 * (2 * 365))

274480

If we're going by day. that's a total of ~275,000 API calls.. and this is just for the sample.. we don't even account for the test.

World Weather API is only allowing 500 request a day, and each pull can only be of up to a month.

In [181]:
(376 * (2 * 12)) / 500

18.048

This is not a viable solution...

Let's keep searching

https://home.openweathermap.org/history_bulks/new

Allows to do complete history pulls for 10USD a pull.. wow.. that would be expensive

https://rapidapi.com/iddogino/api/global-weather-history/pricing

This guy allows 10,000 pull a month and it's only for a day at a time:

In [183]:
(376 * (2 * 365)) / 10000

27.448

Still not a viable solution...

This website looks promising:
https://www.ncdc.noaa.gov/cdo-web/datasets

There's an FTP server which allows to pull daily historical summaries per weather stations. We can even download the worlds' weather stations per year. And it's free.

After further investigation, this looks like the most viable solution:
- year.csv provides daily wheather summaries per weatherstations which a weather station id.
- ghcnd-stations.txt provides the location (lat, long) of all weather stations.

If we can get the lat,long of every airport, we could get the weather data from the closest weather station.
- Initially found Global Airport Database, but it doesn't contain all the airports we're using.
- Finally found World Airports which contains all our airports and more.

Entire process detailed below.

## Global Airport Database (Incomplete - for archive purposes)

In [67]:
airport_location = pd.read_csv("GlobalAirportDatabase.txt", sep=":")

# Add column headers to the airport_location df
airport_location.columns = ['Airport ID', 'Airport Code', 'Airport Name', 'City', 'Country', 'Latitude Degrees', 'Latitude Minutes', 'Latitude Seconds', 'Latitude Direction', 'Longitude Degrees', 'Longitude Minutes', 'Longitude Seconds', 'Longitude Direction', 'Altitude', 'Latitude', 'Longitude']

# Drop all the columns except the Airport Code, Name, City, Country, Latitude and Longitude
airport_location = airport_location.drop(['Airport ID', 'Latitude Degrees', 'Latitude Minutes', 'Latitude Seconds', 'Latitude Direction', 'Longitude Degrees', 'Longitude Minutes', 'Longitude Seconds', 'Longitude Direction', 'Altitude'], axis=1)

In [69]:
filter = airport_location['Airport Code'].isin(all_airports)

In [71]:
#Copy all records from airport_location that are in all_airports to a new df
airport_latlong = airport_location[airport_location['Airport Code'].isin(all_airports)]

In [73]:
airport_latlong.shape

(217, 6)

In [79]:
missing_airports = np.setdiff1d(all_airports, airport_latlong['Airport Code'].values)
missing_airports

array(['ABE', 'ABR', 'ACV', 'ALO', 'ALW', 'APN', 'ASE', 'ATW', 'ATY',
       'AVL', 'AVP', 'AZA', 'AZO', 'BFF', 'BGM', 'BIL', 'BIS', 'BJI',
       'BKG', 'BMI', 'BRD', 'BTM', 'BZN', 'CAK', 'CGI', 'CHO', 'CID',
       'CIU', 'CKB', 'CMI', 'CMX', 'CNY', 'COD', 'CRW', 'CSG', 'CWA',
       'DAB', 'DBQ', 'DIK', 'DVL', 'EAR', 'EAT', 'EAU', 'ECP', 'EGE',
       'EKO', 'ELM', 'ERI', 'ESC', 'EUG', 'EVV', 'FAR', 'FAY', 'FCA',
       'FLG', 'FNT', 'FSD', 'FWA', 'GCC', 'GJT', 'GPT', 'GRI', 'GSO',
       'GSP', 'GST', 'GTR', 'GUC', 'HDN', 'HGR', 'HHH', 'HSV', 'HTS',
       'HVN', 'HYA', 'HYS', 'IDA', 'IFP', 'IMT', 'ITH', 'JAC', 'JLN',
       'JMS', 'LAR', 'LAW', 'LBE', 'LBF', 'LBL', 'LEX', 'LSE', 'LWB',
       'LWS', 'LYH', 'MBS', 'MEI', 'MFR', 'MGM', 'MHK', 'MHT', 'MKG',
       'MLI', 'MMH', 'MRY', 'MSO', 'MTJ', 'MVY', 'OAJ', 'OGD', 'ORH',
       'OTH', 'OWB', 'PAH', 'PGD', 'PGV', 'PIA', 'PIB', 'PIH', 'PIR',
       'PLN', 'PSC', 'PSG', 'PSM', 'PUW', 'PVU', 'RAP', 'RDD', 'RDM',
       'RFD', 'RHI', 'RKS', 'ROA', 'RST', 'SBA', 'SBN', 'SBP', 'SCE',
       'SDF', 'SGF', 'SGU', 'SHD', 'SLN', 'SMX', 'SPI', 'SRQ', 'STC',
       'STS', 'SUN', 'SWO', 'TOL', 'TRI', 'TVC', 'TWF', 'UIN', 'USA',
       'VEL', 'VLD', 'WRG', 'WYS', 'XNA', 'XWA', 'YKM'], dtype=object)

In [81]:
# count how many rows are missing_airports represent in flights_sample
print(flights_sample[flights_sample['Origin Airport (IATA Code)'].isin(missing_airports)].shape[0])
print(flights_sample[flights_sample['Destination Airport (IATA Code)'].isin(missing_airports)].shape[0])

13149
13079

We can't just ignore them.. I need another piece of data to account for those missing ones

## Getting the Lat/Long of all airports using World Airports

In [161]:
#let's try this dataset
airport_location = pd.read_csv("world-airports.csv", usecols=['country_name', 'local_region', 'iata_code', 'local_code', 'name', 'type', 'latitude_deg', 'longitude_deg', 'elevation_ft'])
## Credits to: https://ourairports.com/world.html

#Reorder columns
airport_location = airport_location[['iata_code', 'local_code', 'name', 'latitude_deg', 'longitude_deg', 'elevation_ft', 'type', 'local_region', 'country_name']]

#Keeping only United States Airport
airport_location = airport_location[airport_location['country_name'] == 'United States']

airport_location.head()

,iata_code,local_code,name,latitude_deg,longitude_deg,elevation_ft,type,local_region,country_name
1,LAX,LAX,Los Angeles International Airport,33.942501,-118.407997,125.0,large_airport,CA,United States
2,ORD,ORD,Chicago O'Hare International Airport,41.978600,-87.904800,672.0,large_airport,IL,United States
3,JFK,JFK,John F Kennedy International Airport,40.639447,-73.779317,13.0,large_airport,NY,United States
4,ATL,ATL,Hartsfield Jackson Atlanta International Airport,33.636700,-84.428101,1026.0,large_airport,GA,United States
6,SFO,SFO,San Francisco International Airport,37.618999,-122.375000,13.0,large_airport,CA,United States

In [162]:
airport_codes = airport_location['iata_code'].unique()

# Check if we have any values in all_airports (The list of all airport_codes in the LHL flight dataset) that are not in airport_codes
missing_airports = all_airports[~all_airports['IATA code'].isin(airport_codes)]

missing_airports.shape

(11, 1)

We have 11x airports missing, meaning 11x airports from the lighthouse labs flights dataset is not in the airport dataset we found. Let's further investigate.

In [163]:
missing_airports

    IATA code
11        PSE
16        BQN
34        SPN
39        ROP
42        GUM
93        ISN
165       STT
169       CYS
211       PPG
222       STX
363       SJU

-- Ran this SQL Query on the flights table:
SELECT count(*)
FROM flights
WHERE  origin = 'PSE' OR dest= 'PSE'
    OR origin = 'BQN' OR dest= 'BQN'
    OR origin = 'SPN' OR dest= 'SPN'
    OR origin = 'ROP' OR dest= 'ROP'
    OR origin = 'GUM' OR dest= 'GUM'
    OR origin = 'ISN' OR dest= 'ISN'
    OR origin = 'STT' OR dest= 'STT'
    OR origin = 'CYS' OR dest= 'CYS'
    OR origin = 'PPG' OR dest= 'PPG'
    OR origin = 'STX' OR dest= 'STX'
    OR origin = 'SJU' OR dest= 'SJU'

--> Returned: 140,485... It's roughly 1% of the dataset.. it's pretty significant
--> Looking at some codes above, some are international, like GUM. Will remove the united states filter see if we can get more.

### Re-running query above but without the US Filter

In [165]:
airport_location = pd.read_csv("../../data/raw/world-airports.csv", usecols=['country_name', 'local_region', 'iata_code', 'local_code', 'name', 'type', 'latitude_deg', 'longitude_deg', 'elevation_ft'])
## Credits to: https://ourairports.com/world.html

#Reorder columns
airport_location = airport_location[['iata_code', 'local_code', 'name', 'latitude_deg', 'longitude_deg', 'elevation_ft', 'type', 'local_region', 'country_name']]

#Keeping only United States Airport
#airport_location = airport_location[airport_location['country_name'] == 'United States']
## Removed as some flights end up being international

airport_location.head()

,iata_code,local_code,name,latitude_deg,longitude_deg,elevation_ft,type,local_region,country_name
0,LHR,NaN,London Heathrow Airport,51.470600,-0.461941,83.0,large_airport,ENG,United Kingdom
1,LAX,LAX,Los Angeles International Airport,33.942501,-118.407997,125.0,large_airport,CA,United States
2,ORD,ORD,Chicago O'Hare International Airport,41.978600,-87.904800,672.0,large_airport,IL,United States
3,JFK,JFK,John F Kennedy International Airport,40.639447,-73.779317,13.0,large_airport,NY,United States
4,ATL,ATL,Hartsfield Jackson Atlanta International Airport,33.636700,-84.428101,1026.0,large_airport,GA,United States

In [166]:
airport_codes = airport_location['iata_code'].unique()

# Check if we have any values in all_airports (The list of all airport_codes in the LHL flight dataset) that are not in airport_codes
missing_airports = all_airports[~all_airports['IATA code'].isin(airport_codes)]

missing_airports.shape

(2, 1)

In [167]:
missing_airports

    IATA code
93        ISN
169       CYS

Okay we're down to two. Open Source research reveals ISN is a closed airport so that's probably why we don't have it in our airport dataset and CYS is active... 

Since Sloulin Field Airport closed to the public on October 10, 2019, we can disregard as it shouldn't appear in our test dataset (Jan 2020)

In [169]:
airport_location[airport_location['name'].str.contains('Cheyenne')]

,iata_code,local_code,name,latitude_deg,longitude_deg,elevation_ft,type,local_region,country_name
568,NaN,CYS,Cheyenne Regional Jerry Olson Field,41.155701,-104.811997,6159.0,medium_airport,WY,United States
5749,NaN,84D,Cheyenne Eagle Butte Airport,44.984402,-101.251000,2448.0,small_airport,SD,United States
7934,NaN,SYF,Cheyenne County Municipal Airport,39.761101,-101.795998,3413.0,small_airport,KS,United States

There it is! It just doesn't have an IATA code... Let's manually add it

In [170]:
airport_location.loc[568, 'iata_code'] = 'CYS'

# Check if it worked
airport_location[airport_location['name'].str.contains('Cheyenne')]

,iata_code,local_code,name,latitude_deg,longitude_deg,elevation_ft,type,local_region,country_name
568,CYS,CYS,Cheyenne Regional Jerry Olson Field,41.155701,-104.811997,6159.0,medium_airport,WY,United States
5749,NaN,84D,Cheyenne Eagle Butte Airport,44.984402,-101.251000,2448.0,small_airport,SD,United States
7934,NaN,SYF,Cheyenne County Municipal Airport,39.761101,-101.795998,3413.0,small_airport,KS,United States

In [172]:
airport_codes = airport_location['iata_code'].unique()

# Check if we have any values in all_airports (The list of all airport_codes in the LHL flight dataset) that are not in airport_codes
missing_airports = all_airports[~all_airports['IATA code'].isin(airport_codes)]

missing_airports

   IATA code
93       ISN

And now our only missing airport is ISN, which won't be a problem on our dataset. Fantastic!

In [175]:
# Store airport_location in a csv for future use
airport_location.to_csv("../../data/processed/flights_enrichment_airportLocation.csv", index=False)

In [373]:
airport_location.shape

(35816, 13)

For our purpose, we'll remove the airports that are not in the LHL dataset.

In [378]:
airport_location = airport_location[airport_location['iata_code'].isin(all_airports['IATA code'])]
airport_location.shape

(375, 13)

What a trim down!

### The next step is to get which Weather Station is close to our airports

In [379]:
#import ghcnd-stations
weather_stations = pd.read_csv("../../data/raw/ghcnd-stations.txt", sep='\t', header=None, index_col=None)

# Ok so we have to split the first column into 3 columns Station ID, Latitude, Longitude and keep only those columns
weather_stations = weather_stations[0].str.split(expand=True)
weather_stations = weather_stations.iloc[:, :3]
weather_stations.columns = ['StationID', 'Latitude', 'Longitude']

#Let's start by rounding the latitude and longitude of weather_stations and airport_location to 1 decimals

#convert the latitude and longitude to float
weather_stations['Latitude'] = weather_stations['Latitude'].astype(float)
weather_stations['Longitude'] = weather_stations['Longitude'].astype(float)

weather_stations['Latitude'] = weather_stations['Latitude'].round(1)
weather_stations['Longitude'] = weather_stations['Longitude'].round(1)
airport_location['latitude_deg'] = airport_location['latitude_deg'].round(1)
airport_location['longitude_deg'] = airport_location['longitude_deg'].round(1)

weather_stations

C:\Users\987\AppData\Local\Temp\ipykernel_35484\3398408613.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airport_location['latitude_deg'] = airport_location['latitude_deg'].round(1)
C:\Users\987\AppData\Local\Temp\ipykernel_35484\3398408613.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airport_location['longitude_deg'] = airport_location['longitude_deg'].round(1)

          StationID  Latitude  Longitude
0       ACW00011604      17.1      -61.8
1       ACW00011647      17.1      -61.8
2       AE000041196      25.3       55.5
3       AEM00041194      25.3       55.4
4       AEM00041217      24.4       54.7
...             ...       ...        ...
123179  ZI000067969     -21.0       29.4
123180  ZI000067975     -20.1       30.9
123181  ZI000067977     -21.0       31.6
123182  ZI000067983     -20.2       32.6
123183  ZI000067991     -22.2       30.0

[123184 rows x 3 columns]

Before we go any further let's educate ourselves on the accuracy of the lat/longs:

Accuracy versus decimal places decimal places	degrees	distance
0	1.0	111 km
1	0.1	11.1 km
2	0.01	1.11 km
3	0.001	111 m
4	0.0001	11.1 m
5	0.00001	1.11 m
6	0.000001	0.111 m
7	0.0000001	1.11 cm
8	0.00000001	1.11 mm
source: http://wiki.gis.com/wiki/index.php/Decimal_degrees

airport_location have 6x digits and weather stations have 4. This is too precise for our needs.. we could keep only one decimal..

We have another problem however, the way decimal work, if the station is to the west and/or north, we wouldn't find it as the decimal point would be one less for either the EW or the NS axis. 

To solve this, we'll look for weather stations withing the same lat/long as well as the one with .1 less (NW, SW, SE).

-----UPDATE----

After a bit more thought on this we should do +0.1 as well. The reason being is if the airport is at 35.19 and the weather station at 35.21 we would miss it that way. So we'll work with a central box surrounded by a N, NE, E, SE, S, SW, W, and NW box as well.

In [234]:
# Now let's loop through the weather_stations and find if an airport is within 0.1 degree of the weather station if it is, add the iata_code into a new column
weather_stations['Airport'] = np.nan
for index, row in weather_stations.iterrows():
    for index2, row2 in airport_location.iterrows():
        # Same latitude and longitude (NE)
        if row['Latitude'] == row2['latitude_deg'] and row['Longitude'] == row2['longitude_deg']:
            # If there's already an airport, add a comma and the new airport
            if pd.notnull(weather_stations.loc[index, 'Airport']):
                weather_stations.loc[index, 'Airport'] = weather_stations.loc[index, 'Airport'] + ',' + row2['iata_code']
            # If there's no airport, add the airport
            else:
                weather_stations.loc[index, 'Airport'] = row2['iata_code']
        
        # latitude-0.1 and longitude-0.1 (SW)
        elif row['Latitude'] == row2['latitude_deg'] - 0.1 and row['Longitude'] == row2['longitude_deg'] - 0.1:
            # If there's already an airport, add a comma and the new airport
            if pd.notnull(weather_stations.loc[index, 'Airport']):
                weather_stations.loc[index, 'Airport'] = weather_stations.loc[index, 'Airport'] + ',' + row2['iata_code']
            # If there's no airport, add the airport
            else:
                weather_stations.loc[index, 'Airport'] = row2['iata_code']
        
        # Same latitude and longitude-0.10.1 (NW)
        elif row['Latitude'] == row2['latitude_deg'] and row['Longitude'] == row2['longitude_deg'] - 0.1:
            # If there's already an airport, add a comma and the new airport
            if pd.notnull(weather_stations.loc[index, 'Airport']):
                weather_stations.loc[index, 'Airport'] = weather_stations.loc[index, 'Airport'] + ',' + row2['iata_code']
            # If there's no airport, add the airport
            else:
                weather_stations.loc[index, 'Airport'] = row2['iata_code']
        
        # latitude-0.1 and same longitude (SE)
        elif row['Latitude'] == row2['latitude_deg'] - 0.1 and row['Longitude'] == row2['longitude_deg']:
            # If there's already an airport, add a comma and the new airport
            if pd.notnull(weather_stations.loc[index, 'Airport']):
                weather_stations.loc[index, 'Airport'] = weather_stations.loc[index, 'Airport'] + ',' + row2['iata_code']
            # If there's no airport, add the airport
            else:
                weather_stations.loc[index, 'Airport'] = row2['iata_code']

KeyboardInterrupt:

In [380]:
# Ok this is slow, let's create a North_Latitude and South_Latitude column as well as East_Longitude and West_Longitude for airport_location
airport_location['North_Latitude'] = airport_location['latitude_deg'] + 0.1
airport_location['South_Latitude'] = airport_location['latitude_deg'] - 0.1
airport_location['East_Longitude'] = airport_location['longitude_deg'] + 0.1
airport_location['West_Longitude'] = airport_location['longitude_deg'] - 0.1

# So now, we can make Central df, a North df, a NorthEast df, a East df, a SouthEast df, a South df, a SouthWest df, a West df, and a NorthWest df
Central = airport_location[['iata_code', 'latitude_deg', 'longitude_deg']]
North = airport_location[['iata_code', 'North_Latitude', 'longitude_deg']]
NorthEast = airport_location[['iata_code', 'North_Latitude', 'East_Longitude']]
East = airport_location[['iata_code', 'latitude_deg', 'East_Longitude']]
SouthEast = airport_location[['iata_code', 'South_Latitude', 'East_Longitude']]
South = airport_location[['iata_code', 'South_Latitude', 'longitude_deg']]
SouthWest = airport_location[['iata_code', 'South_Latitude', 'West_Longitude']]
West = airport_location[['iata_code', 'latitude_deg', 'West_Longitude']]
NorthWest = airport_location[['iata_code', 'North_Latitude', 'West_Longitude']]

# Now let's merge the weather_stations with the Central, North, NorthEast, East, SouthEast, South, SouthWest, West, and NorthWest airport_location
Central = pd.merge(weather_stations, Central, how='left', left_on=['Latitude', 'Longitude'], right_on=['latitude_deg', 'longitude_deg'])
North = pd.merge(weather_stations, North, how='left', left_on=['Latitude', 'Longitude'], right_on=['North_Latitude', 'longitude_deg'])
NorthEast = pd.merge(weather_stations, NorthEast, how='left', left_on=['Latitude', 'Longitude'], right_on=['North_Latitude', 'East_Longitude'])
East = pd.merge(weather_stations, East, how='left', left_on=['Latitude', 'Longitude'], right_on=['latitude_deg', 'East_Longitude'])
SouthEast = pd.merge(weather_stations, SouthEast, how='left', left_on=['Latitude', 'Longitude'], right_on=['South_Latitude', 'East_Longitude'])
South = pd.merge(weather_stations, South, how='left', left_on=['Latitude', 'Longitude'], right_on=['South_Latitude', 'longitude_deg'])
SouthWest = pd.merge(weather_stations, SouthWest, how='left', left_on=['Latitude', 'Longitude'], right_on=['South_Latitude', 'West_Longitude'])
West = pd.merge(weather_stations, West, how='left', left_on=['Latitude', 'Longitude'], right_on=['latitude_deg', 'West_Longitude'])
NorthWest = pd.merge(weather_stations, NorthWest, how='left', left_on=['Latitude', 'Longitude'], right_on=['North_Latitude', 'West_Longitude'])

C:\Users\987\AppData\Local\Temp\ipykernel_35484\2229663844.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airport_location['North_Latitude'] = airport_location['latitude_deg'] + 0.1
C:\Users\987\AppData\Local\Temp\ipykernel_35484\2229663844.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airport_location['South_Latitude'] = airport_location['latitude_deg'] - 0.1
C:\Users\987\AppData\Local\Temp\ipykernel_35484\2229663844.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airport_location['East_Longitude'] = airport_location['longitude_deg'] + 0.1
C:\Users\987\AppData\Local\Temp\ipykernel_35484\2229663844.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airport_location['West_Longitude'] = airport_location['longitude_deg'] - 0.1

In [381]:
# And finally, let's combine all of the dataframes into one
weather_stations = pd.concat([Central, North, NorthEast, East, SouthEast, South, SouthWest, West, NorthWest])

# Now let's drop the columns we don't need
weather_stations = weather_stations.drop(['North_Latitude', 'South_Latitude', 'East_Longitude', 'West_Longitude', 'latitude_deg', 'longitude_deg'], axis=1)

# And let's drop the duplicates
weather_stations = weather_stations.drop_duplicates()

# And let's drop the rows where there's no airport
weather_stations = weather_stations.dropna(subset=['iata_code'])

In [413]:
weather_stations['iata_code'].value_counts()

MSP    124
DCA    117
ABQ    107
SAT    100
CHS     98
      ...
OTZ      1
OME      1
BRW      1
CNY      1
ADK      1
Name: iata_code, Length: 376, dtype: int64

In [414]:
weather_stations['StationID'].value_counts()

AQC00914005    1
US1UTWG0016    1
US1UTWG0011    1
US1UTWG0005    1
US1UTWG0004    1
              ..
US1MNOL0027    1
US1MNOL0018    1
US1MNOL0015    1
US1MNOL0011    1
VQW00011640    1
Name: StationID, Length: 6810, dtype: int64

As we can see, some weather stations are close to multiple airports. Here's the two next step:

1. Consolidate every airports proximate to a weather station by putting them all into a single column following this format: 'RDU', 'YYZ'. That way when we call it we can call it using like: 'RDU' and be sure we grabbed the right one.
2. Generate a list of unique weather stations, so we can significantly diminish the large CSVs we are working with

In [384]:
#1 - Thank you Google!
weather_stations = weather_stations.groupby(['StationID', 'Latitude', 'Longitude'])['iata_code'].apply(','.join).reset_index()

In [385]:
weather_stations

        StationID  Latitude  Longitude iata_code
0     AQC00914005     -14.3     -170.6       PPG
1     AQC00914021     -14.3     -170.6       PPG
2     AQC00914060     -14.3     -170.7       PPG
3     AQC00914135     -14.3     -170.7       PPG
4     AQC00914138     -14.3     -170.7       PPG
...           ...       ...        ...       ...
6805  VQC00674900      17.8      -64.8       STX
6806  VQC00677600      18.3      -64.9       STT
6807  VQC00679222      18.2      -65.0       STT
6808  VQW00011624      17.7      -64.8       STX
6809  VQW00011640      18.3      -65.0       STT

[6810 rows x 4 columns]

In [386]:
#2 - Have a unique list of weather stations
station_list = weather_stations['StationID'].unique()
station_list

array(['AQC00914005', 'AQC00914021', 'AQC00914060', ..., 'VQC00679222',
       'VQW00011624', 'VQW00011640'], dtype=object)

We're ready to get our weather.

In [388]:
weather_2018 = pd.read_csv('../../data/raw/2018.csv', header=None)
weather_2019 = pd.read_csv('../../data/raw/2019.csv', header=None)
weather_2020 = pd.read_csv('../../data/raw/2020.csv', header=None)
weather = pd.concat([weather_2018, weather_2019, weather_2020], axis=0)

#Let's keep only the rows that have a stationID that's in our station_list
weather = weather[weather[0].isin(station_list)]

# Let's rename the first four columns to Station, Date, Observation, and Value and drop the rest
weather = weather[[weather.columns[0], weather.columns[1], weather.columns[2], weather.columns[3]]]
weather = weather.rename(columns={0: 'Station', 1: 'Date', 2: 'Observation', 3: 'Value'})

#Drop rows with no date
weather = weather.dropna(subset=['Date'])

# The observation column would need to be pivoted and would need to be added under the appropriate column name
weather = weather.pivot_table(index=['Station', 'Date'], columns='Observation', values='Value', aggfunc='first').reset_index()

#Let's drop the columns that we don't need (keeping, PRCP, SNOW, TAVG, TMAX, TMIN, and some WT columns)
weather = weather[['Station', 'Date', 'PRCP', 'SNOW', 'TAVG', 'TMAX','TMIN','WT01', 'WT02', 'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT10', 'WT11']]

#Let's rename the WT columns
weather = weather.rename(columns={'WT01': 'Fog', 'WT02': 'Heavy_Fog', 'WT03': 'Thunder', 'WT04': 'Ice_Pellets', 'WT05': 'Hail', 'WT06': 'Glaze_or_Rime', 'WT07': 'Dust_or_Sand', 'WT08': 'Smoke_or_Haze', 'WT09': 'Blowing or Drifting Snow', 'WT10': 'Tornado_or_Funnel_Cloud', 'WT11': 'High_or_Damaging_Winds'})

# Remember those weather-stations? Let's add the lat, long, and iata code from weather_stations to our weather dataframe. 
weather = pd.merge(weather, weather_stations, left_on='Station', right_on='StationID', how='left')

#drop the stationID column (duplicate added during last step)
weather = weather.drop('StationID', axis=1)

# Split the date column into year, month, and day
weather['Year'] = weather['Date'].apply(lambda x: str(x)[:4])
weather['Month'] = weather['Date'].apply(lambda x: str(x)[4:6])
weather['Day'] = weather['Date'].apply(lambda x: str(x)[6:])

#Switch them to Integer
weather['Year'] = weather['Year'].astype(int)
weather['Month'] = weather['Month'].astype(int)
weather['Day'] = weather['Day'].astype(int)

# Drop the date column
weather = weather.drop('Date', axis=1)

# Reorder the columns
weather = weather[['Station', 'Year', 'Month', 'Day', 'Latitude', 'Longitude', 'iata_code', 'TAVG', 'TMAX', 'TMIN','PRCP', 'SNOW', 'Fog', 'Heavy_Fog', 'Thunder', 'Ice_Pellets', 'Hail', 'Glaze_or_Rime', 'Dust_or_Sand', 'Smoke_or_Haze', 'Blowing or Drifting Snow', 'Tornado_or_Funnel_Cloud', 'High_or_Damaging_Winds']]

#TMAX, TMIN and TAVG are in tenths of degrees. Let's convert them to degrees
weather['TMAX'] = weather['TMAX']/10
weather['TMIN'] = weather['TMIN']/10
weather['TAVG'] = weather['TAVG']/10
weather['PRCP'] = weather['PRCP']/10 #PRCP is in tenth of a mm as well

# Rename TMIN to include (*C)
weather = weather.rename(columns={'TMIN': 'TMIN (*C)'})
weather = weather.rename(columns={'TMAX': 'TMAX (*C)'})
weather = weather.rename(columns={'TAVG': 'TAVG (*C)'})
weather = weather.rename(columns={'SNOW': 'SNOW (mm)'})
weather = weather.rename(columns={'PRCP': 'PRCP (mm)'})

In [389]:
weather.describe()

,Year,Month,Day,Latitude,Longitude,TAVG (*C),TMAX (*C),TMIN (*C),PRCP (mm),SNOW (mm),Fog,Heavy_Fog,Thunder,Ice_Pellets,Hail,Glaze_or_Rime,Dust_or_Sand,Smoke_or_Haze,Blowing or Drifting Snow,Tornado_or_Funnel_Cloud,High_or_Damaging_Winds
count,2.369006e+06,2.369006e+06,2.369006e+06,2.369006e+06,2.369006e+06,253303.000000,681839.000000,681224.000000,2.292438e+06,1.283352e+06,140991.0,20058.0,43486.0,1923.0,972.0,3309.0,291.0,47070.0,1487.0,46.0,902.0
mean,2.019035e+03,6.603373e+00,1.571696e+01,3.750999e+01,-9.590810e+01,13.117526,19.242106,7.906639,3.097292e+00,2.077933e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
std,8.185627e-01,3.411954e+00,8.799738e+00,6.988741e+00,2.149654e+01,11.343542,11.705864,11.279367,9.418926e+00,1.519462e+01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,2.018000e+03,1.000000e+00,1.000000e+00,-1.430000e+01,-1.707000e+02,-45.000000,-42.800000,-72.800000,0.000000e+00,0.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
25%,2.018000e+03,4.000000e+00,8.000000e+00,3.340000e+01,-1.079000e+02,5.000000,10.700000,0.000000,0.000000e+00,0.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
50%,2.019000e+03,7.000000e+00,1.600000e+01,3.790000e+01,-9.320000e+01,14.300000,21.100000,8.300000,0.000000e+00,0.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
75%,2.020000e+03,1.000000e+01,2.300000e+01,4.180000e+01,-8.180000e+01,22.700000,28.900000,17.000000,1.000000e+00,0.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,2.020000e+03,1.200000e+01,3.100000e+01,7.130000e+01,1.457000e+02,40.800000,56.100000,1398.500000,6.020000e+02,1.080000e+03,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

We seem to have some TMIN, PRCP and SNOW outliers.. let's check

In [390]:
#view weathers ordered by TMIN (*C) in descending order
weather.sort_values(by='TMIN (*C)', ascending=False)

,Station,Year,Month,Day,Latitude,Longitude,iata_code,TAVG (*C),TMAX (*C),TMIN (*C),PRCP (mm),SNOW (mm),Fog,Heavy_Fog,Thunder,Ice_Pellets,Hail,Glaze_or_Rime,Dust_or_Sand,Smoke_or_Haze,Blowing or Drifting Snow,Tornado_or_Funnel_Cloud,High_or_Damaging_Winds
1973583,USS0011E31S,2018,8,9,44.6,-111.1,WYS,NaN,NaN,1398.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1765198,USC00264439,2020,7,13,36.0,-115.2,LAS,NaN,43.9,35.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606605,USC00026482,2020,7,8,33.4,-112.0,PHX,NaN,45.6,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2302222,USW00093138,2018,7,7,33.8,-116.5,PSP,NaN,46.7,35.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2202158,USW00023183,2018,7,6,33.4,-112.0,PHX,39.2,43.9,34.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2368059,VQW00011640,2018,5,30,18.3,-65.0,STT,NaN,NaN,NaN,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2368409,VQW00011640,2019,5,15,18.3,-65.0,STT,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2368410,VQW00011640,2019,5,16,18.3,-65.0,STT,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2368411,VQW00011640,2019,5,17,18.3,-65.0,STT,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2368730,VQW00011640,2020,3,31,18.3,-65.0,STT,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [391]:
# Yes, let's remove it
weather = weather.drop([1973583])

In [394]:
#view weathers ordered by PRCP in descending order to see outliers
weather.sort_values(by='PRCP (mm)', ascending=False).head(15)

,Station,Year,Month,Day,Latitude,Longitude,iata_code,TAVG (*C),TMAX (*C),TMIN (*C),PRCP (mm),SNOW (mm),Fog,Heavy_Fog,Thunder,Ice_Pellets,Hail,Glaze_or_Rime,Dust_or_Sand,Smoke_or_Haze,Blowing or Drifting Snow,Tornado_or_Funnel_Cloud,High_or_Damaging_Winds
1919323,USC00512802,2018,8,23,19.8,-155.1,ITO,NaN,NaN,NaN,602.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1843754,USC00410611,2019,9,19,30.1,-94.1,BPT,NaN,27.2,24.4,502.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1931197,USC00517724,2018,8,23,19.8,-155.1,ITO,NaN,NaN,NaN,475.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326862,US1FLES0026,2020,9,16,30.5,-87.2,PNS,NaN,NaN,NaN,461.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419406,US1HIHI0039,2018,8,23,19.7,-155.1,ITO,NaN,NaN,NaN,431.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1931198,USC00517724,2018,8,24,19.8,-155.1,ITO,NaN,NaN,NaN,412.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418939,US1HIHI0011,2018,8,25,19.8,-155.1,ITO,NaN,NaN,NaN,411.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329790,US1FLES0054,2020,9,16,30.5,-87.2,PNS,NaN,NaN,NaN,396.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2175938,USW00021504,2018,8,24,19.7,-155.1,ITO,25.1,26.1,22.8,381.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1802340,USC00317170,2018,9,14,35.1,-76.9,EWN,NaN,25.0,23.3,360.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1919325,USC00512802,2018,8,25,19.8,-155.1,ITO,NaN,NaN,NaN,340.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328949,US1FLES0048,2020,9,16,30.4,-87.2,PNS,NaN,NaN,NaN,324.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308949,US1FLBW0004,2020,11,9,26.0,-80.3,FLL,NaN,NaN,NaN,312.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363108,US1FLOK0001,2020,9,16,30.5,-86.4,VPS,NaN,NaN,NaN,312.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2087923,USW00013899,2020,9,16,30.5,-87.2,PNS,NaN,26.1,22.8,301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

High but it is not a mistake

In [395]:
#view weathers ordered by SNOW in descending order to see outliers
weather.sort_values(by='SNOW (mm)', ascending=False).head(15)

,Station,Year,Month,Day,Latitude,Longitude,iata_code,TAVG (*C),TMAX (*C),TMIN (*C),PRCP (mm),SNOW (mm),Fog,Heavy_Fog,Thunder,Ice_Pellets,Hail,Glaze_or_Rime,Dust_or_Sand,Smoke_or_Haze,Blowing or Drifting Snow,Tornado_or_Funnel_Cloud,High_or_Damaging_Winds
1070273,US1NYTG0008,2020,12,17,42.1,-76.1,BGM,NaN,NaN,NaN,72.4,1080.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1028437,US1NYBM0051,2020,12,17,42.1,-76.0,BGM,NaN,NaN,NaN,NaN,1003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981279,USW00003103,2019,2,21,35.1,-111.7,FLG,NaN,-4.9,-7.1,36.6,912.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026830,US1NYBM0024,2020,12,17,42.1,-75.9,BGM,NaN,NaN,NaN,29.7,699.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1780829,USC00300684,2020,12,17,42.2,-76.0,BGM,NaN,NaN,NaN,NaN,671.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014017,USW00004725,2020,12,17,42.2,-76.0,BGM,-7.9,-5.5,-9.3,42.9,671.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
131451,US1AZYV0028,2019,2,22,34.6,-112.5,PRC,NaN,NaN,NaN,33.0,648.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63819,US1AZCN0033,2019,2,22,35.2,-111.7,FLG,NaN,NaN,NaN,25.1,630.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67706,US1AZCN0113,2019,2,22,35.2,-111.7,FLG,NaN,NaN,NaN,NaN,622.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1770845,USC00274234,2018,3,14,42.8,-71.4,MHT,NaN,-1.1,-2.2,30.7,617.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
633439,US1MASF0010,2018,3,14,42.4,-71.0,BOS,NaN,NaN,NaN,71.6,599.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1721845,USC00196783,2018,3,14,42.5,-71.1,BOS,NaN,0.6,-3.3,35.6,592.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1620926,USC00045091,2019,2,5,33.8,-116.6,PSP,NaN,-1.7,-7.8,15.7,559.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2343701,USW00094746,2018,3,13,42.3,-71.9,ORH,-1.6,0.0,-3.2,40.4,554.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1159302,US1PACN0010,2020,12,17,40.9,-77.7,SCE,NaN,NaN,NaN,49.0,546.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

That's a lot of snow, but the two largest ones basically confirm each others as they are from different sensors. I guess this is GTG as well.

Now to add this enrichment to the flights:

In [412]:
#Just a test
weather[(weather['iata_code'].str.contains('DEN')) & (weather['Year'] == 2018) & (weather['Month'] == 1) & (weather['Day'] == 8)]

,Station,Year,Month,Day,Latitude,Longitude,iata_code,TAVG (*C),TMAX (*C),TMIN (*C),PRCP (mm),SNOW (mm),Fog,Heavy_Fog,Thunder,Ice_Pellets,Hail,Glaze_or_Rime,Dust_or_Sand,Smoke_or_Haze,Blowing or Drifting Snow,Tornado_or_Funnel_Cloud,High_or_Damaging_Winds
212105,US1COAD0087,2018,1,8,40.0,-104.8,DEN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213192,US1COAD0120,2018,1,8,40.0,-104.8,DEN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215341,US1COAD0204,2018,1,8,40.0,-104.8,DEN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286210,US1COWE0187,2018,1,8,40.0,-104.7,DEN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1635289,USC00050950,2018,1,8,39.9,-104.8,DEN,NaN,10.0,-6.1,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1978678,USW00003017,2018,1,8,39.8,-104.7,DEN,0.7,9.4,-4.3,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This is great! Lots of different sensors

In [403]:
weather[(weather['iata_code'].str.contains('BOS')) & (weather['Year'] == 2018) & (weather['Month'] == 1) & (weather['Day'] == 8)]['TMIN (*C)'].mean()

-17.325

In [371]:
weather[(weather['iata_code'].str.contains('YYZ')) & (weather['Year'] == '2018') & (weather['Month'] == '01') & (weather['Day'] == '08')]['SNOW (mm)'].mean()

35.0

So, for every airport.. we'll go thru this.

In [422]:
weather = weather.groupby(['Year', 'Month', 'Day', 'iata_code']).agg({'TAVG (*C)': 'mean', 'TMAX (*C)': 'mean', 'TMIN (*C)': 'mean', 'PRCP (mm)': 'mean', 'SNOW (mm)': 'mean', 'Fog': 'max', 'Heavy_Fog': 'max', 'Thunder': 'max', 'Ice_Pellets': 'max', 'Hail': 'max', 'Glaze_or_Rime': 'max', 'Dust_or_Sand': 'max', 'Smoke_or_Haze': 'max', 'Blowing or Drifting Snow': 'max', 'Tornado_or_Funnel_Cloud': 'max', 'High_or_Damaging_Winds': 'max'}).reset_index()

In [423]:
weather.shape

(400565, 20)

In [425]:
# This is an acceptable format. Let's save this as a CSV
weather.to_csv("../../data/processed/flights_enrichment_weather.csv", index=False)